<div class="container">
<h1> Bien venu sur {{title}}</h1>
<h5>On est le {{maintenant}}</h5>
<div class="row">
<div class="col-md-4">
Colone 1
</div>
<div class="col-md-8">
Cours {{cours}}
</div>
</div>
<img src="{{lien1}}" class="moitie rounded-circle">
<br/>
<img src="assets/images/Pavillon_Judith-Jasmin_UQAM_11.JPG" class="moitie card-img-overlay" alt="Judith-Jasmin UQAM">
<img src="https://ctvm.info/wp-content/uploads/2018/03/uqam-logo.jpg" alt="logo uqam">

</div>
<router-outlet></router-outlet>